.back-stats {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0.5rem;
  background-color: #DF4A84;
  color: white;
}

.back-stats li {
  size: 2rem;
}

.mic-settings {
  display: flex;
  gap: 0.5rem;
}