@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #f3d6e3;
}

.center {
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 3rem;
}

ul {
  list-style: none;
}
